@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
.size-xs, .tc-btn.tc-btn-xs, input.input-xs:not([type="checkbox"]),
textarea.input-xs,
.topcoder-input.input-xs,
.toggle-password.input-xs,
.toggle-password-with-tips.input-xs {
  height: 20px;
  line-height: 18px;
  font-size: 12px; }

.size-sm, .tc-btn, .tc-btn.tc-btn-sm, input.input-sm:not([type="checkbox"]),
textarea.input-sm,
.topcoder-input.input-sm,
.toggle-password.input-sm,
.toggle-password-with-tips.input-sm {
  height: 30px;
  line-height: 28px;
  font-size: 13px; }

.size-md, .tc-btn.tc-btn-md, input.input-md:not([type="checkbox"]),
textarea.input-md,
.topcoder-input.input-md,
.toggle-password.input-md,
.toggle-password-with-tips.input-md {
  height: 40px;
  line-height: 38px;
  font-size: 15px; }

.size-lg, .tc-btn .tc-btn-lg, input.input-lg:not([type="checkbox"]),
textarea.input-lg,
.topcoder-input.input-lg,
.toggle-password.input-lg,
.toggle-password-with-tips.input-lg {
  height: 50px;
  line-height: 48px;
  font-size: 20px; }

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important; }

html {
  min-height: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  min-height: 100%; }

a {
  text-decoration: none;
  color: inherit; }
  a:visited, a:hover, a:active {
    color: inherit; }

strong {
  font-weight: 700; }

button {
  cursor: pointer; }

a.tc-link,
.tc-link,
a.tc-link:active,
.tc-link:active,
a.tc-link:visited,
.tc-link:visited {
  cursor: pointer; }

a.tc-link:hover,
.tc-link:hover {
  color: #006dea;
  text-decoration: none; }

a.tc-btn {
  display: inline-block; }

.tc-btn {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  border-width: 1px;
  border-style: solid;
  transition: 250ms ease-in-out all; }
  .tc-btn:focus {
    outline: none; }

.tc-btn-pressed {
  box-shadow: 0px 1px 3px 0px #47474f; }

.tc-btn-primary {
  background: #0681ff;
  border-color: #0681ff;
  color: #cee6ff; }
  .tc-btn-primary:hover:enabled, .tc-btn-primary:active:enabled, .tc-btn-primary:focus:enabled {
    color: #ffffff; }
  .tc-btn-primary:hover:enabled {
    background: #3996FF;
    background-image: linear-gradient(#3996FF 0%, #127BF3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop', GradientType=0);
    /* IE6-9 */ }
  .tc-btn-primary:active:enabled {
    background: #0681ff;
    box-shadow: inset 0 1px 3px 0 rgba(71, 71, 79, 0.5); }
  .tc-btn-primary.loading:enabled {
    color: #55a5ff; }
  .tc-btn-primary:focus:enabled {
    background: #0681ff;
    border-color: #0681ff;
    box-shadow: 0 0 2px 1px #55a5ff; }
  .tc-btn-primary:visited {
    color: #f4f9ff; }

a.tc-btn-secondary,
.tc-btn-secondary {
  background: #a3a3ad;
  border-color: #a3a3ad;
  color: #ffffff; }
  a.tc-btn-secondary:hover:enabled,
  .tc-btn-secondary:hover:enabled {
    background: #a3a3ad;
    background-image: linear-gradient(#a3a3ad 0%, #888894 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop', GradientType=0);
    /* IE6-9 */ }
  a.tc-btn-secondary:active:enabled,
  .tc-btn-secondary:active:enabled {
    background: #888894;
    box-shadow: inset 0 1px 3px 0 rgba(71, 71, 79, 0.38); }
  a.tc-btn-secondary.loading:enabled, a.tc-btn-secondary:focus:enabled,
  .tc-btn-secondary.loading:enabled,
  .tc-btn-secondary:focus:enabled {
    background: #a3a3ad;
    border-color: #888894;
    box-shadow: 0 0 2px 1px #55a5ff; }

.tc-btn-default {
  background: #ffffff;
  border-color: #888894;
  color: #5d5d66; }
  .tc-btn-default.loading:enabled, .tc-btn-default:focus:enabled {
    background: #ffffff;
    border-color: #55a5ff;
    box-shadow: 0 0 2px 1px #cee6ff; }
  .tc-btn-default:active:enabled, .tc-btn-default:hover:enabled {
    background-image: linear-gradient(0deg, #f5f5f5 0%, #ffffff 49%, #ffffff 100%);
    border-color: #a3a3ad; }
  .tc-btn-default:active:enabled {
    box-shadow: inset 0 1px 2px 0 rgba(38, 38, 40, 0.2); }

.tc-btn-warning {
  background: #ff5b52;
  border-color: #ff5b52;
  color: #ffffff; }
  .tc-btn-warning:hover:enabled {
    background: #ff5b52;
    background-image: linear-gradient(#ff5b52 0%, #f22f24 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop', GradientType=0);
    /* IE6-9 */ }
  .tc-btn-warning:active:enabled {
    background: #f22f24;
    box-shadow: inset 0 1px 3px 0 rgba(71, 71, 79, 0.38); }
  .tc-btn-warning.loading:enabled, .tc-btn-warning:focus:enabled {
    background: #ff5b52;
    border-color: #f22f24;
    box-shadow: 0 0 2px 1px #ffd4d1; }

.tc-btn-link {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 500;
  border-color: transparent;
  background: transparent;
  color: #55a5ff; }
  .tc-btn-link:hover:enabled {
    color: #0681ff; }
  .tc-btn-link:active:enabled {
    color: #0681ff; }
  .tc-btn-link.loading:enabled, .tc-btn-link:focus:enabled {
    border-color: #55a5ff;
    box-shadow: 0 0 2px 1px #cee6ff; }
  .tc-btn-link:focus:enabled {
    color: #55a5ff; }
  .tc-btn-link.loading:enabled {
    color: #47474f; }
  .tc-btn-link[disabled], .tc-btn-link:disabled {
    color: #47474f; }

button[disabled],
a.tc-btn[disabled],
button[disabled]:hover,
a.tc-btn[disabled]:hover,
button[disabled]:active,
a.tc-btn[disabled]:active {
  opacity: 0.3;
  filter: grayscale(90%);
  pointer-events: none; }

.tc-btn {
  padding: 0 20px; }
  .tc-btn .tc-btn-lg {
    padding: 0 30px; }
  .tc-btn.tc-btn-md {
    padding: 0 25px; }
  .tc-btn.tc-btn-sm {
    padding: 0 15px; }
  .tc-btn.tc-btn-xs {
    padding: 0 10px; }

input[type=checkbox] {
  visibility: hidden; }

.tc-checkbox-label {
  display: inline-block;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  line-height: 20px;
  vertical-align: middle;
  margin-left: 10px;
  user-select: none;
  cursor: pointer; }

.tc-checkbox {
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  position: relative;
  display: inline-block; }
  .tc-checkbox input[type=checkbox] {
    display: none; }
  .tc-checkbox label {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #888894;
    background: #fafafb;
    transition: all .150s ease-in-out; }
    .tc-checkbox label:after {
      opacity: 0;
      content: '';
      position: absolute;
      width: 13px;
      height: 7px;
      background: transparent;
      top: 4px;
      left: 3px;
      border: 3px solid #0681ff;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
      transition: all .150s ease-in-out; }
    .tc-checkbox label:hover::after {
      opacity: 0.3; }
  .tc-checkbox input[type=checkbox]:checked ~ label {
    background: #0681ff;
    border-color: #0681ff; }
  .tc-checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
    border-color: #ffffff; }

.tc-slider-label {
  display: inline-block;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  line-height: 25px;
  vertical-align: bottom;
  margin-right: 10px;
  user-select: none;
  cursor: pointer; }

.tc-slider {
  height: 25px;
  position: relative;
  width: 44px;
  display: inline-block; }
  .tc-slider input[type=checkbox]:focus ~ label {
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.4), 1px 1px 1px rgba(255, 255, 255, 0.6);
    background: #a3a3ad; }
  .tc-slider input[type=checkbox]:checked ~ label {
    background: #0681ff; }
    .tc-slider input[type=checkbox]:checked ~ label:after {
      left: 19px; }
  .tc-slider label {
    border-radius: 12.5px;
    box-shadow: inset 0px 1px 2px 0px rgba(38, 38, 40, 0.3);
    height: 25px;
    width: 44px;
    position: absolute;
    top: 0;
    left: 0;
    transition: background 150ms ease-in-out;
    text-indent: -9999em;
    background: #a3a3ad; }
    .tc-slider label:hover {
      cursor: pointer; }
    .tc-slider label:after {
      border-radius: 12.5px;
      content: "";
      cursor: pointer;
      display: block;
      height: 19px;
      width: 19px;
      position: absolute;
      top: 0;
      left: 0;
      transition: left 150ms ease-in-out;
      margin: 3px;
      z-index: 1;
      background: #ffffff; }

.radio {
  margin: 0; }
  .radio input[type="radio"] {
    opacity: 0;
    display: none; }
  .radio label {
    display: inline-block;
    line-height: 19px;
    padding-left: 26px;
    position: relative;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    font-size: 14px;
    color: #262628;
    margin-right: 30px; }
    .radio label:before {
      border: 1px solid #dcdce0;
      border-radius: 50%;
      background-color: #fff;
      content: "";
      display: inline-block;
      height: 19px;
      left: 0;
      position: absolute;
      top: 0;
      width: 19px; }
  .radio input[type="radio"]:checked + label:after {
    background: #0681ff;
    border-radius: 50%;
    content: "";
    display: inline-block;
    left: 4px;
    position: absolute;
    top: 4px;
    height: 11px;
    width: 11px; }

.tc-label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding-right: 5px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #47474f;
  text-transform: uppercase; }

.tc-label__wrapper {
  position: relative; }

.tc-label__asterisk {
  position: absolute;
  top: -20px;
  right: 5px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #f22f24; }
  .tc-label__asterisk span {
    font-size: 16px; }

.tc-file-field {
  display: block; }

.tc-file-field__label {
  width: 500px; }
  .tc-file-field__label label {
    display: inline-block; }

.tc-file-field__inputs {
  display: flex;
  flex-direction: row;
  width: 500px; }
  .tc-file-field__inputs div {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-right: 10px; }
  .tc-file-field__inputs button {
    flex: 1 0 auto; }

.tc-textarea {
  display: block;
  max-width: 640px; }
  .tc-textarea textarea {
    width: 100%;
    min-height: 92px;
    display: block; }

.tc-textarea__char-count {
  float: right;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #747480; }

.tc-textarea__char-count--current {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #47474f; }

.tc-error-messages {
  margin-bottom: 20px;
  padding: 10px 7px;
  border: 1px solid #ff5b52;
  background-color: #ffd4d1;
  color: #f22f24;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
  text-align: left; }

.form-blocks {
  width: 100%; }

.form-block {
  padding-bottom: 30px;
  flex-direction: column; }
  @media screen and (min-width: 1000px) {
    .form-block {
      padding: 30px 0;
      border-top: 1px solid #dcdce0;
      flex-direction: row; } }
  .form-block:first-child {
    border-top: none; }

.form-block__instructions {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fafafb; }
  @media screen and (min-width: 1000px) {
    .form-block__instructions {
      margin-bottom: 0;
      padding-right: 33px;
      flex: 1 0 auto;
      max-width: 300px;
      border-bottom: none; } }

.form-block__title {
  margin-bottom: 14px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #47474f;
  text-transform: uppercase; }

.form-block__text {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  font-style: italic;
  line-height: 20px;
  color: #47474f; }
  @media screen and (min-width: 1000px) {
    .form-block__text p {
      margin-bottom: 15px; } }

.form-block__fields {
  width: 100%;
  border-bottom: 6px solid #dcdce0; }
  @media screen and (min-width: 1000px) {
    .form-block__fields {
      width: 73%;
      padding-left: 60px;
      border-bottom: none;
      border-left: 6px solid #dcdce0; } }

.fieldsets {
  width: 100%;
  padding-bottom: 20px; }
  @media screen and (min-width: 1000px) {
    .fieldsets {
      padding-bottom: 0; } }
  .fieldsets .fieldset {
    border-bottom: 1px solid #dcdce0;
    margin-bottom: 20px;
    padding-bottom: 10px; }

.fieldset {
  display: block;
  width: 500px;
  margin: 0 auto;
  padding-bottom: 20px; }
  @media screen and (min-width: 1000px) {
    .fieldset {
      width: 100%;
      margin: 0;
      padding-bottom: 0; } }

.fieldset__input {
  width: 100%;
  max-width: 500px;
  display: block; }

.fieldset__button {
  display: block; }
  @media screen and (min-width: 1000px) {
    .fieldset__button {
      margin-left: 0; } }

input:not([type="checkbox"]),
textarea,
.topcoder-input,
toggle-password > input[type='password'],
toggle-password-with-tips > input[type='password'] {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #47474f;
  background: #ffffff;
  border: 1px solid #c3c3c8;
  border-radius: 4px;
  cursor: auto;
  outline: none;
  transition: .15s all; }
  input:not([type="checkbox"]):hover:not(.error),
  textarea:hover:not(.error),
  .topcoder-input:hover:not(.error),
  toggle-password > input[type='password']:hover:not(.error),
  toggle-password-with-tips > input[type='password']:hover:not(.error) {
    border-color: #888894; }
  input:not([type="checkbox"]):focus:not(.error), input:not([type="checkbox"]).focus,
  textarea:focus:not(.error),
  textarea.focus,
  .topcoder-input:focus:not(.error),
  .topcoder-input.focus,
  toggle-password > input[type='password']:focus:not(.error),
  toggle-password > input[type='password'].focus,
  toggle-password-with-tips > input[type='password']:focus:not(.error),
  toggle-password-with-tips > input[type='password'].focus {
    border-color: #55a5ff;
    box-shadow: 0 0 2px 1px #cee6ff; }
  input:not([type="checkbox"]).error,
  textarea.error,
  .topcoder-input.error,
  toggle-password > input[type='password'].error,
  toggle-password-with-tips > input[type='password'].error {
    border-color: #ff5b52; }
  input:not([type="checkbox"]):disabled,
  textarea:disabled,
  .topcoder-input:disabled,
  toggle-password > input[type='password']:disabled,
  toggle-password-with-tips > input[type='password']:disabled {
    border: 0;
    background: #fafafb;
    box-shadow: none;
    color: #747480;
    -webkit-text-fill-color: #888894; }

textarea:disabled {
  border: 0;
  background: none;
  color: #47474f;
  padding: 0; }

input::-webkit-input-placeholder {
  color: #47474f;
  font-size: 12px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  transition: opacity .15s;
  opacity: 1; }
input:-moz-placeholder {
  color: #47474f;
  font-size: 12px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  transition: opacity .15s;
  opacity: 1; }
input::-moz-placeholder {
  color: #47474f;
  font-size: 12px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  transition: opacity .15s;
  opacity: 1; }
input:-ms-input-placeholder {
  color: #47474f;
  font-size: 12px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  transition: opacity .15s;
  opacity: 1; }

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity .15s; }
input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity .15s; }
input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity .15s; }
input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity .15s; }

/* text input themes -- start */
.paper-form-dotted label {
  display: none; }
.paper-form-dotted input {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: none;
  border-bottom: 1px dashed #dcdce0;
  border-radius: 0;
  box-shadow: none;
  -ms-overflow-style: none;
  font-size: 15px;
  line-height: 20px; }
  .paper-form-dotted input.empty {
    background: #fafafb;
    border-bottom: 1px solid #a3a3ad;
    color: #c3c3c8; }
  .paper-form-dotted input::-webkit-input-placeholder {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #c3c3c8;
    text-transform: none;
    font-style: italic;
    font-size: 15px;
    line-height: 20px; }
  .paper-form-dotted input:-moz-placeholder {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #c3c3c8;
    text-transform: none;
    font-style: italic;
    font-size: 15px;
    line-height: 20px; }
  .paper-form-dotted input::-moz-placeholder {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #c3c3c8;
    text-transform: none;
    font-style: italic;
    font-size: 15px;
    line-height: 20px; }
  .paper-form-dotted input:-ms-input-placeholder {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #c3c3c8;
    text-transform: none;
    font-style: italic;
    font-size: 15px;
    line-height: 20px; }
  .paper-form-dotted input:focus {
    background: #f4f9ff !important;
    border: none;
    border-bottom: 1px solid #55a5ff;
    box-shadow: none;
    color: #47474f; }
  .paper-form-dotted input:hover {
    border: none;
    border-bottom: 1px solid #55a5ff;
    box-shadow: none; }
  .paper-form-dotted input:disabled {
    background: #fafafb;
    border-bottom: 1px solid #a3a3ad;
    color: #c3c3c8; }
  .paper-form-dotted input.error {
    border: 1px solid #ff5b52 !important;
    background: #fafafb !important; }

/* text input themes -- end */
textarea {
  padding: 10px;
  line-height: 24px; }
  textarea::-webkit-input-placeholder {
    color: #47474f;
    font-weight: 300; }
  textarea:-moz-placeholder {
    color: #47474f;
    font-weight: 300; }
  textarea::-moz-placeholder {
    color: #47474f;
    font-weight: 300; }
  textarea:-ms-input-placeholder {
    color: #47474f;
    font-weight: 300; }
  textarea:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity .15s; }
  textarea:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity .15s; }
  textarea:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity .15s; }
  textarea:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity .15s; }

.topcoder-input input,
.toggle-password input,
.toggle-password-with-tips input {
  height: 20px;
  border: none;
  background: none;
  box-shadow: none;
  padding: none; }
  .topcoder-input input:hover, .topcoder-input input:focus, .topcoder-input input.focus,
  .toggle-password input:hover,
  .toggle-password input:focus,
  .toggle-password input.focus,
  .toggle-password-with-tips input:hover,
  .toggle-password-with-tips input:focus,
  .toggle-password-with-tips input.focus {
    border: none;
    box-shadow: none;
    outline: none; }
.topcoder-input label,
.toggle-password label,
.toggle-password-with-tips label {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  color: #47474f;
  height: 20px;
  width: 60px;
  padding: 0; }
  .topcoder-input label input[type='checkbox'],
  .toggle-password label input[type='checkbox'],
  .toggle-password-with-tips label input[type='checkbox'] {
    height: 14px;
    width: 14px; }

.input-sticky-placeholder-container {
  position: relative; }
  .input-sticky-placeholder-container span.placeholder-text {
    position: absolute;
    top: 14px;
    right: 10px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    color: #47474f; }

.flex {
  display: flex; }
  .flex.column {
    flex-direction: column; }
  .flex.center {
    justify-content: center; }
  .flex.end {
    justify-content: flex-end; }
  .flex.space-between {
    justify-content: space-between; }
  .flex.space-around {
    justify-content: space-around; }
  .flex.middle {
    align-items: center; }
  .flex.stretch {
    align-items: stretch; }
  .flex.bottom {
    align-items: flex-end; }
  .flex.wrap {
    flex-wrap: wrap; }

.flex-grow {
  flex-grow: 1; }

.flex-one {
  flex: 1; }

.flex-shrink {
  flex-shrink: 1;
  flex-basis: 100px; }

.size-xs, .tc-btn.tc-btn-xs, input.input-xs:not([type="checkbox"]),
textarea.input-xs,
.topcoder-input.input-xs,
.toggle-password.input-xs,
.toggle-password-with-tips.input-xs {
  height: 20px;
  line-height: 18px;
  font-size: 12px; }

.size-sm, .tc-btn, .tc-btn.tc-btn-sm, input.input-sm:not([type="checkbox"]),
textarea.input-sm,
.topcoder-input.input-sm,
.toggle-password.input-sm,
.toggle-password-with-tips.input-sm {
  height: 30px;
  line-height: 28px;
  font-size: 13px; }

.size-md, .tc-btn.tc-btn-md, input.input-md:not([type="checkbox"]),
textarea.input-md,
.topcoder-input.input-md,
.toggle-password.input-md,
.toggle-password-with-tips.input-md {
  height: 40px;
  line-height: 38px;
  font-size: 15px; }

.size-lg, .tc-btn .tc-btn-lg, input.input-lg:not([type="checkbox"]),
textarea.input-lg,
.topcoder-input.input-lg,
.toggle-password.input-lg,
.toggle-password-with-tips.input-lg {
  height: 50px;
  line-height: 48px;
  font-size: 20px; }

h1 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 50px; }

h2 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px; }

h3 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px; }

h4 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px; }

h5 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px; }

.ic {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px; }
  .ic.ic-s {
    width: 16px;
    height: 16px; }
  .ic.ic-l {
    width: 32px;
    height: 32px; }
  .ic.ic-xl {
    width: 56px;
    height: 56px; }

.ic-connect {
  background-image: url("../img/icons/connect.svg"); }

.ic-globe {
  background-image: url("../img/icons/globe.svg"); }

.ic-idea {
  background-image: url("../img/icons/idea.svg"); }

.ic-members {
  background-image: url("../img/icons/members.svg"); }

.ic-money {
  background-image: url("../img/icons/money.svg"); }

.ic-rapid {
  background-image: url("../img/icons/rapid.svg"); }

.ic-rocket {
  background-image: url("../img/icons/rocket.svg"); }

.ic-win {
  background-image: url("../img/icons/win.svg"); }

.ic-cognitive {
  background-image: url("../img/icons/cognitive.svg"); }

.ic-web-dev {
  background-image: url("../img/icons/web-dev.svg"); }

.ic-mob-dev {
  background-image: url("../img/icons/mob-dev.svg"); }

.ic-scan {
  background-image: url("../img/icons/scan.svg"); }

.ic-mob-design {
  background-image: url("../img/icons/mob-design.svg"); }

.ic-time {
  background-image: url("../img/icons/time.svg"); }

.ic-group {
  background-image: url("../img/icons/group.svg"); }

.ic-method {
  background-image: url("../img/icons/method.svg"); }

.ic-app-dev {
  background-image: url("../img/icons/app-dev.svg"); }

.ic-duration {
  background-image: url("../img/icons/duration.svg"); }

.ic-product {
  background-image: url("../img/icons/product.svg"); }

.ic-search {
  background-image: url("../img/icons/search.svg"); }

.ic-user {
  background-image: url("../img/icons/user.svg"); }

.ic-calendar {
  background-image: url("../img/icons/calendar.svg"); }

.ic-website {
  background-image: url("../img/icons/product/website.svg"); }

.ic-app {
  background-image: url("../img/icons/product/app.svg"); }
  .ic-app.ic-xl {
    background-image: url("../img/icons/app.svg"); }

.ic-design {
  background-image: url("../img/icons/product/cat/design.svg"); }

.ic-development {
  background-image: url("../img/icons/product/cat/development.svg"); }

.ic-qa {
  background-image: url("../img/icons/product/cat/qa.svg"); }

.ic-chat1 {
  background-image: url("../img/icons/product/chatbot/model1.svg"); }

.ic-chat2 {
  background-image: url("../img/icons/product/chatbot/model2.svg"); }

.ic-app-visual {
  background-image: url("../img/icons/product/design/app-visual.svg"); }

.ic-design-other {
  background-image: url("../img/icons/product/design/other.svg"); }

.ic-wireframe {
  background-image: url("../img/icons/product/design/wireframes.svg"); }
  .ic-wireframe.ic-xl {
    background-image: url("../img/icons/wireframe.svg"); }

.ic-front-end-dev {
  background-image: url("../img/icons/product/dev/front-end-dev.svg"); }

.ic-integration {
  background-image: url("../img/icons/product/dev/integration.svg"); }

.ic-dev-other {
  background-image: url("../img/icons/product/dev/other.svg"); }

.ic-prototype {
  background-image: url("../img/icons/product/dev/prototype.svg"); }

.ic-consulting {
  background-image: url("../img/icons/product/qa/consulting.svg"); }

.ic-digital-accessability {
  background-image: url("../img/icons/product/qa/digital-accessability.svg"); }

.ic-mobility-testing {
  background-image: url("../img/icons/product/qa/mobility-testing.svg"); }

.ic-os-automation {
  background-image: url("../img/icons/product/qa/os-automation.svg"); }

.ic-website-performance {
  background-image: url("../img/icons/product/qa/website-performance.svg"); }

.avatar {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 100%; }
  .avatar:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  .avatar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.size-xs, .tc-btn.tc-btn-xs, input.input-xs:not([type="checkbox"]),
textarea.input-xs,
.topcoder-input.input-xs,
.toggle-password.input-xs,
.toggle-password-with-tips.input-xs {
  height: 20px;
  line-height: 18px;
  font-size: 12px; }

.size-sm, .tc-btn, .tc-btn.tc-btn-sm, input.input-sm:not([type="checkbox"]),
textarea.input-sm,
.topcoder-input.input-sm,
.toggle-password.input-sm,
.toggle-password-with-tips.input-sm {
  height: 30px;
  line-height: 28px;
  font-size: 13px; }

.size-md, .tc-btn.tc-btn-md, input.input-md:not([type="checkbox"]),
textarea.input-md,
.topcoder-input.input-md,
.toggle-password.input-md,
.toggle-password-with-tips.input-md {
  height: 40px;
  line-height: 38px;
  font-size: 15px; }

.size-lg, .tc-btn .tc-btn-lg, input.input-lg:not([type="checkbox"]),
textarea.input-lg,
.topcoder-input.input-lg,
.toggle-password.input-lg,
.toggle-password-with-tips.input-lg {
  height: 50px;
  line-height: 48px;
  font-size: 20px; }

.nav-bar-wrap {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background-color: #262628;
  display: flex;
  align-items: center; }
  .nav-bar-wrap .logo {
    margin-right: 30px;
    height: 20px; }
  .nav-bar-wrap .btns-wrap {
    margin-left: auto;
    flex-shrink: 0; }
  .nav-bar-wrap .ic-search {
    margin-right: 20px; }
  .nav-bar-wrap .tc-btn + .tc-btn {
    margin-left: 5px; }
  .nav-bar-wrap.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99; }
    .nav-bar-wrap.fixed + * {
      margin-top: 60px; }

.nav-menu-item {
  display: inline-block;
  color: #888894;
  cursor: pointer;
  transition: color .15s ease;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin-right: 20px; }
  .nav-menu-item:hover, .nav-menu-item:active, .nav-menu-item.active {
    color: #ededf2; }

.size-xs, .tc-btn.tc-btn-xs, input.input-xs:not([type="checkbox"]),
textarea.input-xs,
.topcoder-input.input-xs,
.toggle-password.input-xs,
.toggle-password-with-tips.input-xs {
  height: 20px;
  line-height: 18px;
  font-size: 12px; }

.size-sm, .tc-btn, .tc-btn.tc-btn-sm, input.input-sm:not([type="checkbox"]),
textarea.input-sm,
.topcoder-input.input-sm,
.toggle-password.input-sm,
.toggle-password-with-tips.input-sm {
  height: 30px;
  line-height: 28px;
  font-size: 13px; }

.size-md, .tc-btn.tc-btn-md, input.input-md:not([type="checkbox"]),
textarea.input-md,
.topcoder-input.input-md,
.toggle-password.input-md,
.toggle-password-with-tips.input-md {
  height: 40px;
  line-height: 38px;
  font-size: 15px; }

.size-lg, .tc-btn .tc-btn-lg, input.input-lg:not([type="checkbox"]),
textarea.input-lg,
.topcoder-input.input-lg,
.toggle-password.input-lg,
.toggle-password-with-tips.input-lg {
  height: 50px;
  line-height: 48px;
  font-size: 20px; }

.tabs-bar-wrap {
  height: 70px; }
  .tabs-bar-wrap.fixed .tabs-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99; }
  .tabs-bar-wrap.has-top .tabs-bar {
    top: 60px; }

.tabs-bar {
  width: 100%;
  height: 70px;
  padding: 0 60px;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  line-height: 1; }
  .tabs-bar .tab {
    display: inline-block;
    margin-left: 5px;
    padding: 10px 15px;
    color: #47474f;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color .15s ease; }
    .tabs-bar .tab:hover, .tabs-bar .tab:active, .tabs-bar .tab.active {
      background-color: #ffffff;
      box-shadow: 0 1px 3px 0 rgba(38, 38, 40, 0.15); }

.size-xs, .tc-btn.tc-btn-xs, input.input-xs:not([type="checkbox"]),
textarea.input-xs,
.topcoder-input.input-xs,
.toggle-password.input-xs,
.toggle-password-with-tips.input-xs {
  height: 20px;
  line-height: 18px;
  font-size: 12px; }

.size-sm, .tc-btn, .tc-btn.tc-btn-sm, input.input-sm:not([type="checkbox"]),
textarea.input-sm,
.topcoder-input.input-sm,
.toggle-password.input-sm,
.toggle-password-with-tips.input-sm {
  height: 30px;
  line-height: 28px;
  font-size: 13px; }

.size-md, .tc-btn.tc-btn-md, input.input-md:not([type="checkbox"]),
textarea.input-md,
.topcoder-input.input-md,
.toggle-password.input-md,
.toggle-password-with-tips.input-md {
  height: 40px;
  line-height: 38px;
  font-size: 15px; }

.size-lg, .tc-btn .tc-btn-lg, input.input-lg:not([type="checkbox"]),
textarea.input-lg,
.topcoder-input.input-lg,
.toggle-password.input-lg,
.toggle-password-with-tips.input-lg {
  height: 50px;
  line-height: 48px;
  font-size: 20px; }

.footer-wrap {
  padding: 40px 30px 30px;
  background: #262628; }
  .footer-wrap .logo {
    display: block;
    width: 54px;
    margin: 0 auto; }

.footer-menu {
  margin-top: 30px;
  display: flex; }
  .footer-menu > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 30px; }
  .footer-menu a {
    display: block;
    color: #888894;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 400; }
  .footer-menu h5 {
    color: #ffffff;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 600; }
  .footer-menu h5, .footer-menu a {
    padding: 5px 0;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 11px; }

.size-xs, .tc-btn.tc-btn-xs, input.input-xs:not([type="checkbox"]),
textarea.input-xs,
.topcoder-input.input-xs,
.toggle-password.input-xs,
.toggle-password-with-tips.input-xs {
  height: 20px;
  line-height: 18px;
  font-size: 12px; }

.size-sm, .tc-btn, .tc-btn.tc-btn-sm, input.input-sm:not([type="checkbox"]),
textarea.input-sm,
.topcoder-input.input-sm,
.toggle-password.input-sm,
.toggle-password-with-tips.input-sm {
  height: 30px;
  line-height: 28px;
  font-size: 13px; }

.size-md, .tc-btn.tc-btn-md, input.input-md:not([type="checkbox"]),
textarea.input-md,
.topcoder-input.input-md,
.toggle-password.input-md,
.toggle-password-with-tips.input-md {
  height: 40px;
  line-height: 38px;
  font-size: 15px; }

.size-lg, .tc-btn .tc-btn-lg, input.input-lg:not([type="checkbox"]),
textarea.input-lg,
.topcoder-input.input-lg,
.toggle-password.input-lg,
.toggle-password-with-tips.input-lg {
  height: 50px;
  line-height: 48px;
  font-size: 20px; }

.text-block-wrap {
  padding: 40px;
  background-color: #ffffff;
  position: relative; }
  .text-block-wrap .header {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 10px; }
  .text-block-wrap .body {
    margin: 10px 0;
    line-height: 25px;
    color: #47474f; }
  .text-block-wrap .footer {
    margin-top: 10px; }
  .text-block-wrap.text-block-default {
    width: 57.65625%;
    border-radius: 6px;
    box-shadow: 0 2px 9px 0 rgba(38, 38, 40, 0.35); }
  .text-block-wrap.text-block-primary {
    background-color: #0681ff; }
    .text-block-wrap.text-block-primary .header {
      color: #ffffff; }
    .text-block-wrap.text-block-primary .body {
      color: #ffffff; }
  .text-block-wrap.text-block-secondary {
    background-color: #37373c; }
    .text-block-wrap.text-block-secondary .header {
      color: #ffffff; }
    .text-block-wrap.text-block-secondary .body {
      color: #ffffff; }

.size-xs, .tc-btn.tc-btn-xs, input.input-xs:not([type="checkbox"]),
textarea.input-xs,
.topcoder-input.input-xs,
.toggle-password.input-xs,
.toggle-password-with-tips.input-xs {
  height: 20px;
  line-height: 18px;
  font-size: 12px; }

.size-sm, .tc-btn, .tc-btn.tc-btn-sm, input.input-sm:not([type="checkbox"]),
textarea.input-sm,
.topcoder-input.input-sm,
.toggle-password.input-sm,
.toggle-password-with-tips.input-sm {
  height: 30px;
  line-height: 28px;
  font-size: 13px; }

.size-md, .tc-btn.tc-btn-md, input.input-md:not([type="checkbox"]),
textarea.input-md,
.topcoder-input.input-md,
.toggle-password.input-md,
.toggle-password-with-tips.input-md {
  height: 40px;
  line-height: 38px;
  font-size: 15px; }

.size-lg, .tc-btn .tc-btn-lg, input.input-lg:not([type="checkbox"]),
textarea.input-lg,
.topcoder-input.input-lg,
.toggle-password.input-lg,
.toggle-password-with-tips.input-lg {
  height: 50px;
  line-height: 48px;
  font-size: 20px; }

.carousel-wrap {
  height: 100%; }
  .carousel-wrap .carousel-slider {
    height: 100%; }
    .carousel-wrap .carousel-slider-item {
      display: none; }
      .carousel-wrap .carousel-slider-item.current {
        display: block; }
  .carousel-wrap .carousel-navigation {
    margin-top: -40px;
    display: flex;
    justify-content: center; }
    .carousel-wrap .carousel-navigation .next, .carousel-wrap .carousel-navigation .prev {
      color: #0681ff;
      width: 10px;
      height: 24px;
      background-repeat: no-repeat;
      cursor: pointer; }
    .carousel-wrap .carousel-navigation .next {
      background-image: url("../img/shapes/icArrowRight.svg"); }
    .carousel-wrap .carousel-navigation .prev {
      background-image: url("../img/shapes/icArrowLeft.svg"); }
    .carousel-wrap .carousel-navigation .page {
      margin: 0 8px; }

.size-xs, .tc-btn.tc-btn-xs, input.input-xs:not([type="checkbox"]),
textarea.input-xs,
.topcoder-input.input-xs,
.toggle-password.input-xs,
.toggle-password-with-tips.input-xs {
  height: 20px;
  line-height: 18px;
  font-size: 12px; }

.size-sm, .tc-btn, .tc-btn.tc-btn-sm, input.input-sm:not([type="checkbox"]),
textarea.input-sm,
.topcoder-input.input-sm,
.toggle-password.input-sm,
.toggle-password-with-tips.input-sm {
  height: 30px;
  line-height: 28px;
  font-size: 13px; }

.size-md, .tc-btn.tc-btn-md, input.input-md:not([type="checkbox"]),
textarea.input-md,
.topcoder-input.input-md,
.toggle-password.input-md,
.toggle-password-with-tips.input-md {
  height: 40px;
  line-height: 38px;
  font-size: 15px; }

.size-lg, .tc-btn .tc-btn-lg, input.input-lg:not([type="checkbox"]),
textarea.input-lg,
.topcoder-input.input-lg,
.toggle-password.input-lg,
.toggle-password-with-tips.input-lg {
  height: 50px;
  line-height: 48px;
  font-size: 20px; }

.quote-wrap {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  position: relative; }
  .quote-wrap .image {
    width: 57.65625%; }
    .quote-wrap .image img {
      width: 100%;
      height: 440px;
      object-fit: cover;
      object-position: center; }
  .quote-wrap .content-wrap {
    background: #ffffff;
    position: absolute;
    top: 62.5px;
    bottom: 82.5px;
    right: 0;
    width: 50%;
    box-shadow: 0 1px 3px 1px #dcdce0;
    border-radius: 2px;
    z-index: 1; }

.item-header {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 20px; }

.item-content {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: oblique;
  font-size: 20px;
  margin-bottom: 42.5px; }

.item-user {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  line-height: 1; }
  .item-user .user-avatar {
    width: 50px;
    height: 50px;
    margin-right: 10px; }
  .item-user .name {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #262628; }
  .item-user .role {
    color: #47474f;
    font-size: 13px; }

.quote-wrap-2 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  position: relative;
  padding: 50px 113px;
  display: flex; }
  .quote-wrap-2 .content-wrap {
    margin-left: 70px;
    position: relative; }
    .quote-wrap-2 .content-wrap:before {
      position: absolute;
      content: '';
      background-image: url(../img/assets/quote-mark.png);
      width: 30px;
      height: 22px;
      background-size: cover;
      top: -10px;
      left: -30px; }
    .quote-wrap-2 .content-wrap .text {
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      font-weight: 300;
      font-style: oblique;
      font-size: 20px;
      line-height: 35px;
      margin-bottom: 25px; }
    .quote-wrap-2 .content-wrap .user-info {
      text-align: right;
      font-size: 15px;
      color: #747480; }
      .quote-wrap-2 .content-wrap .user-info .name {
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-weight: 600; }
        .quote-wrap-2 .content-wrap .user-info .name:before {
          content: '-'; }

.size-xs, .tc-btn.tc-btn-xs, input.input-xs:not([type="checkbox"]),
textarea.input-xs,
.topcoder-input.input-xs,
.toggle-password.input-xs,
.toggle-password-with-tips.input-xs {
  height: 20px;
  line-height: 18px;
  font-size: 12px; }

.size-sm, .tc-btn, .tc-btn.tc-btn-sm, input.input-sm:not([type="checkbox"]),
textarea.input-sm,
.topcoder-input.input-sm,
.toggle-password.input-sm,
.toggle-password-with-tips.input-sm {
  height: 30px;
  line-height: 28px;
  font-size: 13px; }

.size-md, .tc-btn.tc-btn-md, input.input-md:not([type="checkbox"]),
textarea.input-md,
.topcoder-input.input-md,
.toggle-password.input-md,
.toggle-password-with-tips.input-md {
  height: 40px;
  line-height: 38px;
  font-size: 15px; }

.size-lg, .tc-btn .tc-btn-lg, input.input-lg:not([type="checkbox"]),
textarea.input-lg,
.topcoder-input.input-lg,
.toggle-password.input-lg,
.toggle-password-with-tips.input-lg {
  height: 50px;
  line-height: 48px;
  font-size: 20px; }

.full-width-feature-wrap {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  position: relative; }
  .full-width-feature-wrap .text-block-wrap {
    position: absolute; }
  .full-width-feature-wrap .feature-container {
    padding-top: 100px; }
    .full-width-feature-wrap .feature-container .left-panel {
      flex-grow: 1;
      position: relative; }
    .full-width-feature-wrap .feature-container .right-panel {
      flex-grow: 3;
      line-height: 0; }
    .full-width-feature-wrap .feature-container iframe {
      width: 100%;
      height: 635px; }
  .full-width-feature-wrap .feature-container-2 .left-panel {
    flex-grow: 0;
    width: 33.3333333%; }
  .full-width-feature-wrap .feature-container-2 .right-panel {
    flex-grow: 2; }
  .full-width-feature-wrap .feature-container-2 .feature-info {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #47474f; }
  .full-width-feature-wrap .feature-container-2 .carousel-wrap .carousel-navigation {
    position: absolute;
    bottom: 20px;
    right: 24px; }
  .full-width-feature-wrap .feature-info {
    padding: 0 40px;
    position: absolute;
    left: 0;
    top: 200px;
    right: 0; }
  .full-width-feature-wrap .feature-item {
    margin: 50px 0; }
    .full-width-feature-wrap .feature-item .info {
      margin-left: 30px; }
      .full-width-feature-wrap .feature-item .info-number {
        font-size: 42px;
        color: #262628; }
      .full-width-feature-wrap .feature-item .info-text {
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: #5d5d66; }

.size-xs, .tc-btn.tc-btn-xs, input.input-xs:not([type="checkbox"]),
textarea.input-xs,
.topcoder-input.input-xs,
.toggle-password.input-xs,
.toggle-password-with-tips.input-xs {
  height: 20px;
  line-height: 18px;
  font-size: 12px; }

.size-sm, .tc-btn, .tc-btn.tc-btn-sm, input.input-sm:not([type="checkbox"]),
textarea.input-sm,
.topcoder-input.input-sm,
.toggle-password.input-sm,
.toggle-password-with-tips.input-sm {
  height: 30px;
  line-height: 28px;
  font-size: 13px; }

.size-md, .tc-btn.tc-btn-md, input.input-md:not([type="checkbox"]),
textarea.input-md,
.topcoder-input.input-md,
.toggle-password.input-md,
.toggle-password-with-tips.input-md {
  height: 40px;
  line-height: 38px;
  font-size: 15px; }

.size-lg, .tc-btn .tc-btn-lg, input.input-lg:not([type="checkbox"]),
textarea.input-lg,
.topcoder-input.input-lg,
.toggle-password.input-lg,
.toggle-password-with-tips.input-lg {
  height: 50px;
  line-height: 48px;
  font-size: 20px; }

.story-wrap {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
  position: relative;
  box-shadow: 0 2px 9px 0 rgba(38, 38, 40, 0.15);
  padding: 15px; }
  .story-wrap:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 6px;
    background: linear-gradient(141deg, #ae54f4, #4cbff6); }
  .story-wrap.gradient-style-2:before {
    background: linear-gradient(141deg, #ef4770, #eeb885); }
  .story-wrap.gradient-style-3:before {
    background: linear-gradient(141deg, #9747ef, #af85ee); }
  .story-wrap.gradient-style-4:before {
    background: linear-gradient(141deg, #44bfe2, #49d851); }
  .story-wrap.solid-color-1:before {
    background: #ae54f4; }
  .story-wrap.solid-color-2:before {
    background: #4cbff6; }
  .story-wrap.solid-color-3:before {
    background: #ef4770; }
  .story-wrap.solid-color-4:before {
    background: #eeb885; }
  .story-wrap.solid-color-5:before {
    background: #9747ef; }
  .story-wrap.solid-color-6:before {
    background: #af85ee; }
  .story-wrap.solid-color-7:before {
    background: #44bfe2; }
  .story-wrap.solid-color-8:before {
    background: #49d851; }
  .story-wrap.bar {
    color: #262628; }
    .story-wrap.bar .story-container {
      margin-left: -15px;
      margin-right: -15px;
      margin-bottom: -15px;
      margin-top: -5px;
      padding: 15px;
      background: #FFF; }
  .story-wrap.featured {
    padding: 0;
    color: #ffffff; }
    .story-wrap.featured .story-cover-image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      opacity: 0.5;
      border-radius: 6px; }
    .story-wrap.featured .story-content {
      padding: 60px; }
    .story-wrap.featured .story-header {
      font-size: 42px;
      margin-bottom: 10px;
      line-height: 50px; }
    .story-wrap.featured .story-body {
      font-size: 20px;
      line-height: 32px; }
    .story-wrap.featured .story-footer {
      justify-content: flex-end; }

.story-container {
  position: relative; }

.story-image img {
  width: 100%;
  object-fit: cover;
  height: 190px;
  border-radius: 6px; }

.story-content {
  padding: 20px; }

.story-sub-header {
  margin-bottom: 20px;
  font-size: 15px; }
  .story-sub-header a {
    text-decoration: underline; }

.story-header {
  margin: 0 0 10px 0; }

.story-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px; }
  .story-footer .story-term {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    flex: 1; }
  .story-footer .story-date {
    font-size: 13px; }

.size-xs, .tc-btn.tc-btn-xs, input.input-xs:not([type="checkbox"]),
textarea.input-xs,
.topcoder-input.input-xs,
.toggle-password.input-xs,
.toggle-password-with-tips.input-xs {
  height: 20px;
  line-height: 18px;
  font-size: 12px; }

.size-sm, .tc-btn, .tc-btn.tc-btn-sm, input.input-sm:not([type="checkbox"]),
textarea.input-sm,
.topcoder-input.input-sm,
.toggle-password.input-sm,
.toggle-password-with-tips.input-sm {
  height: 30px;
  line-height: 28px;
  font-size: 13px; }

.size-md, .tc-btn.tc-btn-md, input.input-md:not([type="checkbox"]),
textarea.input-md,
.topcoder-input.input-md,
.toggle-password.input-md,
.toggle-password-with-tips.input-md {
  height: 40px;
  line-height: 38px;
  font-size: 15px; }

.size-lg, .tc-btn .tc-btn-lg, input.input-lg:not([type="checkbox"]),
textarea.input-lg,
.topcoder-input.input-lg,
.toggle-password.input-lg,
.toggle-password-with-tips.input-lg {
  height: 50px;
  line-height: 48px;
  font-size: 20px; }

.content-box-wrap {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  display: flex; }
  .content-box-wrap .content-box-image {
    flex-grow: 2;
    position: relative; }
    .content-box-wrap .content-box-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
    .content-box-wrap .content-box-image .content-box-image-mask {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      mix-blend-mode: soft-light;
      background-image: linear-gradient(288deg, #25c089, #1a85ff); }
  .content-box-wrap .content-box-content {
    flex-grow: 1;
    width: 0; }
    .content-box-wrap .content-box-content a:not(.tc-btn) {
      color: #0681ff; }
  .content-box-wrap .text-block-wrap .footer {
    margin-top: 40px;
    margin-bottom: 70px; }
  .content-box-wrap.content-box-half-image .content-box-image {
    flex-grow: 1; }
  .content-box-wrap.content-box-column {
    display: block;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden; }
    .content-box-wrap.content-box-column .content-box-image {
      min-height: 300px;
      position: relative; }
      .content-box-wrap.content-box-column .content-box-image-mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fb7d22;
        mix-blend-mode: soft-light; }
    .content-box-wrap.content-box-column .content-box-content {
      width: 100%; }
    .content-box-wrap.content-box-column .header {
      font-size: 28px;
      line-height: 35px; }
    .content-box-wrap.content-box-column .footer {
      margin-bottom: 35px; }
    .content-box-wrap.content-box-column.big-style .header {
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      font-weight: 500; }
    .content-box-wrap.content-box-column.small-style .content-box-image {
      min-height: 200px; }
    .content-box-wrap.content-box-column.small-style .footer {
      margin-bottom: 0; }
    .content-box-wrap.content-box-column.ex-small-style {
      text-align: center; }
      .content-box-wrap.content-box-column.ex-small-style .text-block-wrap {
        padding: 0; }
      .content-box-wrap.content-box-column.ex-small-style .content-box-content {
        padding: 0 10px; }
      .content-box-wrap.content-box-column.ex-small-style .content-box-image {
        min-height: 0; }
        .content-box-wrap.content-box-column.ex-small-style .content-box-image img {
          position: static;
          width: auto;
          height: auto; }
      .content-box-wrap.content-box-column.ex-small-style .header {
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #262628;
        margin-top: 24px; }
      .content-box-wrap.content-box-column.ex-small-style .body {
        margin: 0; }
    .content-box-wrap.content-box-column.solid-bar .text-block-wrap:before {
      content: '';
      height: 10px;
      background-color: #26ade9;
      position: absolute;
      top: 0;
      left: 0;
      right: 0; }

/*# sourceMappingURL=styles.css.map */
