@import 'tc-includes';

// carousel vars
$carousel-navigation-bottom: $base-unit*8;
$carousel-navigation-spacing: $base-unit*1.6;
$carousel-navigation-arrow-width: $base-unit*2.4;
$carousel-navigation-arrow-height: $base-unit*4.8;

// carousel stylinga
$carousel-navigation-text-color: $tc-gray-80;

.carousel-wrap {
  height: 100%;

  .carousel-slider {
    height: 100%;

    &-item {
      display: none;

      &.current {
        display: block;
      }
    }
  }

  .carousel-navigation {
    margin-top: -$carousel-navigation-bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $carousel-navigation-text-color;

    .next, .prev {
      color: $tc-dark-blue-90;
      width: $carousel-navigation-arrow-width;
      height: $carousel-navigation-arrow-height;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    .next {
      background-image: url('../img/icons/carret-right.svg');
    }

    .prev {
      background-image: url('../img/icons/carret-left.svg');
    }

    .page {
      margin: 0 $carousel-navigation-spacing;
    }
  }
}