@import 'tc-includes';

$feature-container-top: $base-unit*20;
$feature-media-height: $base-unit*127;
$feature-info-top: $base-unit*40;
$feature-info-horizontal-padding: $base-unit*8;
$feature-item-vertical-margin: $base-unit*10;
$feature-item-left-spacing: $base-unit*6;
$feature-item-number-font-size: $tc-heading-xl;
$feature-item-number-text-color: $tc-black;
$feature-item-text-font-size: $tc-body-lg;
$feature-item-text-text-color: $tc-gray-70;

$feature2-item-text-text-color: $tc-gray-80;
$feature2-carousel-navigation-right: $base-unit*4.8;
$feature2-carousel-navigation-bottom: $base-unit*4;

.full-width-feature-wrap {
  @include roboto();
  position: relative;

  .text-block-wrap {
    position: absolute;
  }

  .feature-container {
    padding-top: $feature-container-top;

    .left-panel {
      flex-grow: 1;
      position: relative;
    }

    .right-panel {
      flex-grow: 3;
      line-height: 0;
    }

    iframe {
      width: 100%;
      height: $feature-media-height;
    }
  }

  .feature-container-2 {
    .left-panel {
      flex-grow: 0;
      width: 33.3333333%;
    }
    .right-panel {
      flex-grow: 2;
    }
    .feature-info {
      @include tc-body();
      color: $feature2-item-text-text-color;
    }
    .carousel-wrap {
      .carousel-navigation {
        position: absolute;
        bottom: $feature2-carousel-navigation-bottom;
        right: $feature2-carousel-navigation-right;
      }
    }
  }

  .feature-info {
    padding: 0 $feature-info-horizontal-padding;
    position: absolute;
    left: 0;
    top: $feature-info-top;
    right: 0;
  }

  .feature-item {
    margin: $feature-item-vertical-margin 0;

    .info {
      margin-left: $feature-item-left-spacing;

      &-number {
        font-size: $feature-item-number-font-size;
        color: $feature-item-number-text-color;
      }

      &-text {
        @include roboto-light();
        font-size: $feature-item-text-font-size;
        color: $feature-item-text-text-color;
      }
    }
  }
}